<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='editing_users.css') }}">
    </head>

    <body>
        
        <form method="post">
            <input type="text" placeholder="edit username" name="username" class="username">
            <input type="password" placeholder="password" name="password" class="username">
            <button type="submit" value="submit">update</button>
            <button>cancel</button>
        </form>

    </body>
</html>